#chart13 {
  margin-left: -280.55px;
}

#mapid {
  background: transparent;
  transform: scale(3.5);
  margin-left: -0px;
}

#india {
  /* fill: #2e2c97; */
  opacity: 0.8;
  stroke: #ffffff;
  stroke-width: 0.7;
}
.highcharts-background {
  fill: #7cb6ec21;
}
select#taluks {
  width: 100%;
  padding: 10px;
  background-color: #eeeeee;
  color: var(--text-color);
  font-size: 1.1rem;
  margin-bottom: 40px;
  margin-top: -40px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 7px var(--box-shadow-color);
}
.highcharts-point {
  stroke: none;
  /* fill:#8288da; */
}
#selecteddistrict{
  font-size: 2rem;
  font-weight: bold;
}
/* .highcharts-axis-labels text,
text.highcharts-title {
  /* fill: white !important;
} */
#premonsoon, #postmonsoon, #arimagraph {
  margin: 25px 0px;
  box-shadow: 0 0 10px rgb(204, 204, 204);
  /* margin-left: 20px; */
}

#postmonsoon .highcharts-background{
  fill: #ec7c7c33;
}
#postmonsoon  .highcharts-point, #postmonsoon  .highcharts-3d-front, #postmonsoon  .highcharts-3d-top{
  fill: #ec7c7c
}
#postmonsoon  .highcharts-3d-side{

  fill: #d46868
}
#postmonsoon  .highcharts-3d-top{
  fill: #f38f8f

}
#arimagraph .highcharts-color-1{
  stroke: transparent;
  fill: #ec7c7c;
}
#arimagraph .highcharts-color-1 .highcharts-tracker-line{
  stroke: #ec7c7c;
  stroke-width: 1px;
  fill: transparent;
}
.highcharts-a11y-proxy-button{
  outline: 1px solid;
}
.container {
  align-items: center;
}
.stats-table {
  margin: 20px;
}
#status-tabs {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
#status-tabs .tab {
  height: 40px;
  background-color: var(--table-color);
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
#status-tabs .tab:hover {
  background-color: var(--table-color-hover);
}
#status-tabs .tab.selected {
  background-color: rgb(211, 211, 211);
}
.no-data {
  text-align: center;
  width: 45%;
}
#stats-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* margin-right: 50px; */
}
/* #district-table > table td {
  max-width: 115px !important;
  min-width: 115px !important;
  width: 115px !important;
} */
#totalStages,
#totalStages13 {
  display: flex;
  justify-content: center;
  width: 50%;
}
#totalStages .stage,
#totalStages13 .stage {
  margin: 80px 2px 0;
  width: 17%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  z-index: 100;
  padding: 10px;
}
#totalStages .stage h2,
#totalStages13 .stage h2 {
  font-size: 1rem;
  text-align: center;
}
#totalStages .stage p,
#totalStages13 .stage p {
  font-size: 2rem;
  height: 50px;
  font-weight: bold;
}
#totalStages .stage.over-exploited,
#totalStages13 .stage.over-exploited {
  color: var(--over-exploited);
}
#totalStages .stage.over-exploited,
#totalStages13 .stage.over-exploited {
  background: var(--over-exploited-hover);
}
#totalStages .stage.critical,
#totalStages13 .stage.critical {
  color: var(--critical);
}
#totalStages .stage.critical,
#totalStages13 .stage.critical {
  background: var(--critical-hover);
}
#totalStages .stage.semi-critical,
#totalStages13 .stage.semi-critical {
  color: var(--semi-critical);
}
#totalStages .stage.semi-critical,
#totalStages13 .stage.semi-critical {
  background: var(--semi-critical-hover);
}
#totalStages .stage.safe,
#totalStages13 .stage.safe {
  color: var(--safe);
}
#totalStages .stage.safe,
#totalStages13 .stage.safe {
  background: var(--safe-hover);
}

#block-chart {
  margin-top: -250px;
}

#chart13 {
  margin-left: -280.55px;
}
footer {
  width: 100%;
  height: 250px;
}
.map-show {
  /* display: block; */
  opacity: 1;
}
.map-hide {
  /* display: none; */
  opacity: 0;
}
.year-tabs {
  display: flex;
  margin-top: 0;
  width: 50%;
  margin-left: 32px;
  margin-bottom: -100px;
}
.year-tabs h2 {
  font-size: 0.9rem;
  margin-top: 85px;
}
.year-tabs .tab {
  margin: 80px 3px 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  z-index: 100;
  background-color: rgba(255, 99, 71, 0.26);
  font-weight: bold;
  color: tomato;
  font-size: 0.9rem;
}
.year-tabs .tab.selected {
  background-color: tomato;
  color: rgb(82, 9, 9);
}
#arimagraph {
  margin-top: 10px;
}
