* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-main);
  /* background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 17, 3)); */
  font-family: sans-serif;
  color: var(--text-color);
}

header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 0 auto;
  height: 10vh;
  animation: enterFromTop 1s forwards;
  background-color: var(--background-second);
  padding: 0 10%;
}
header #brand {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  font-style: oblique;
  font-size: .9rem;
  width: 100px;
}
header #brand h2{
  width: 200px;
}
header a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}
header #brand span img {
  height: 13vh;
  display: block;
  margin-right: 10px;
  margin-bottom: -20px;
}
header nav ul {
  display: flex;
  list-style: none;
}
a {
  margin-left: 10px;
  padding: 20px;
  width: 80px;
  display: flex;
  justify-content: center;
}

header nav ul li a i {
  font-size: 1.2rem !important;
}
/* a.cta {
  /* background-image: linear-gradient(to bottom, #51df70, #159c33); */
  /* background-color: #aebdff;
  border-radius: 10px;
  color: var(--text-color); */
/* }  */

.container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  align-items: flex-start;
  margin: 100px auto 0;
  z-index: -20;
  height: 79vh;
}

.container.charts {
  padding: 0;
  margin-top: 100px;
  display: block;
  padding-top: 100px;
}

.container h1 {
  opacity: 0;
  animation: enterFromBottom 1s 1s forwards;
}

.container > div.stats {
  width: 100%;
  height: 100%;
}

#map-section table {
  /* border: 5px solid; */
  width: 50%;
  margin-right: -50px;
  border-collapse: separate;
  border-spacing: 0.3em 0.3em;
}

table td {
  /* border: 1px solid; */
  padding: 15px 10px;
  margin: 100px;
  border-radius: 7px;
  min-width: 102px;
  background-color: var(--table-color);
  color: var(--text-color-dark);
  font-size: 0.8rem;
  font-weight: bold;
}
tr:nth-of-type(2n) td:not(:first-child) {
  background-color: transparent;
}

/* .highcharts-point {
  stroke: none;
} */
/* #groundWaterdonut .highcharts-background {
  fill: #2e1626;
}
#groundWaterdonut .highcharts-point.highcharts-color-0 {
  fill: #e34138;
}
#groundWaterdonut .highcharts-point.highcharts-color-1 {
  fill: #69202a;
}
#groundWaterdonut .highcharts-legend-item.highcharts-color-0 .highcharts-point {
  fill: #e34138;
}
#groundWaterdonut .highcharts-legend-item.highcharts-color-1 .highcharts-point {
  fill: #69202a;
}

#extractWaterdonut .highcharts-background {
  fill: #182528;
}
#extractWaterdonut .highcharts-point.highcharts-color-0 {
  fill: #57a445;
}
#extractWaterdonut .highcharts-point.highcharts-color-1 {
  fill: #284c30;
}
#extractWaterdonut
  .highcharts-legend-item.highcharts-color-0
  .highcharts-point {
  fill: #57a445;
}
#extractWaterdonut
  .highcharts-legend-item.highcharts-color-1
  .highcharts-point {
  fill: #284c30;
}

#extractPercentdonut .highcharts-background {
  fill: #161a31;
}
#extractPercentdonut .highcharts-point.highcharts-color-0 {
  fill: #0d70e8;
}
#extractPercentdonut .highcharts-point.highcharts-color-1 {
  fill: #1a3870;
}
#extractPercentdonut
  .highcharts-legend-item.highcharts-color-0
  .highcharts-point {
  fill: #0d70e8;
}
#extractPercentdonut
  .highcharts-legend-item.highcharts-color-1
  .highcharts-point {
  fill: #1a3870;
} */

/* .container.chart > .stats {
  display: flex;
} */

.center-of-attraction {
  color: #51df70;
  font-size: 2rem;
}


#demobox{
  position: relative;
  width: 60%
}
#demobox .year-tabs{
  position: absolute;
  top:0;
  right:0;
}
#map, #map-dist{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -220px;
  animation: enterFromRight 1s 1s forwards;
  opacity: 0;
}
#map-dist{
  display: block;
}
#map{
  display: block;
}

/* 
#map {
  margin-left: -200px;
  /* padding-right: 120px; */
  /* animation: enterFromRight 1s 1s forwards;
  opacity: 0; */
  /* border: 1px solid; */
/* } */

/* #map svg {
  transform: scale(0.9);
  width: 100% !important;
  margin-left: -40px;
}
#map svg text {
  fill: var(--text-color);
} */ 
.chart svg.highcharts-root {
  width: 50%;
  overflow: hidden !important;
  /* height: 300px; */
  /* height: 100px; */
  padding: 10px; /* reset */
  fill: #ccc;
  margin-bottom: -00px;
  transform: scale(1.8);
  /* margin-top: 100px; */
}
.chart .highcharts-root tspan {
  fill: var(--text-color);
}

.chart .highcharts-background {
  width: 80%;
}

@keyframes enterFromRight {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes enterFromBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes enterFromTop {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* INDEX */

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url("../img/videoframe.jpg") center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

.hero {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(30, 55, 110, 0.507);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}
.hero .cta {
  width: 200px;
  height: 20px;
  border-radius: 25px;
  font-size: large;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--text-color);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: 0.3s;
  font-weight: bold;
}

.hero .cta:hover {
  background-color: var(--text-color);
  color: rgb(185, 49, 49);
  /* border: 2px solid; */
}

.up-trend {
  color: green;
}
.down-trend {
  color: #e34138;
}

/* AUTO COMPLETE BOX */

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type="text"] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type="submit"] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  /* border: 1px solid #d4d4d4; */
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  width: 108% !important;
  padding: 10px;
  cursor: pointer;
  background-color: var(--background-second);
  /* border-bottom: 1px solid #d4d4d4; */
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: var(--background-main);
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: var(--text-color);
}
#search-state{z-index: 900 !important;}

body > #search-state {
  display: flex;
  justify-content: flex-end;
  margin-top: 150px;
  margin-bottom: -250px;
  padding-left: 50px;
  margin-right: 220px;
}

body > #search-state div {
  width: 400px;
}

#block-chart{overflow-x: hidden; width: 50%; padding: 0 20px}

#block-chart #search-state {
  display: flex;
  justify-content: center;
  width: 168%;
  transform: scale(.999);
  padding: 0px;
}

#block-chart .autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  margin-right: 400px;
  margin-bottom: 50px;
  width: 440px;
}
.autocomplete .search-icon{
  /* border: 1px solid; */
  position: absolute;
  top:50%;
  left: 10px;
  font-size: 1.1rem;
  color: var(--text-color-dark);
  transform: translateY(-55%);
  width:20px !important;

}

#search-state div input {
  padding: 20px;
  border: none;
  background-color: var(--background-second);
  border-radius: 5px;
  box-shadow: 0 0 10px var(--box-shadow-color);
  color: var(--text-color-dark);
  font-size: 0.9rem;
  font-weight: bold;
  outline: none;
  padding-left: 35px;
}
.map-show {
  /* display: block; */
  opacity: 1;
  z-index: 10;
}
.map-hide {
 /* display: none;  */
  opacity: 0; 
  z-index: -10;
}
.year-tabs {
  display: flex;
  margin-top: 0;
  width: 50%;
  margin-left: 32px;
  margin-bottom: -100px;
}
.year-tabs h2 {
  font-size: 0.9rem;
  margin-top: 85px;
}
.year-tabs .tab {
  margin: 80px 3px 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  z-index: 100;
  background-color: rgba(255, 99, 71, 0.26);
  font-weight: bold;
  color: tomato;
  font-size: 0.9rem;
}
.year-tabs .tab.selected {
  background-color: tomato;
  color: rgb(82, 9, 9);
}

#totalStages,
#totalStages13 {
  display: flex;
  justify-content: center;
  width: 50%;
}
#totalStages .stage,
#totalStages13 .stage {
  margin: 80px 2px 0;
  width: 17%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  z-index: 100;
  padding: 10px;
}
#totalStages .stage h2,
#totalStages13 .stage h2 {
  font-size: 1rem;
  text-align: center;
}
#totalStages .stage p,
#totalStages13 .stage p {
  font-size: 2rem;
  height: 50px;
  font-weight: bold;
}
#totalStages .stage.over-exploited,
#totalStages13 .stage.over-exploited {
  color: var(--over-exploited);
}
#totalStages .stage.over-exploited,
#totalStages13 .stage.over-exploited {
  background: var(--over-exploited-hover);
}
#totalStages .stage.critical,
#totalStages13 .stage.critical {
  color: var(--critical);
}
#totalStages .stage.critical,
#totalStages13 .stage.critical {
  background: var(--critical-hover);
}
#totalStages .stage.semi-critical,
#totalStages13 .stage.semi-critical {
  color: var(--semi-critical);
}
#totalStages .stage.semi-critical,
#totalStages13 .stage.semi-critical {
  background: var(--semi-critical-hover);
}
#totalStages .stage.safe,
#totalStages13 .stage.safe {
  color: var(--safe);
}
#totalStages .stage.safe,
#totalStages13 .stage.safe {
  background: var(--safe-hover);
}